stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: $CI_REGISTRY_IMAGE:latest

before_script:
  - echo "Logging into GitLab Registry..."
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  image: docker:24.0.7
  services:
    - docker:dind
  script:
    - ./gradlew clean build -x test
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
  script:
    - echo "$EC2_SSH_KEY" > /tmp/key.pem
    - chmod 600 /tmp/key.pem
    - ssh -o StrictHostKeyChecking=no -i /tmp/key.pem $EC2_USER@$EC2_HOST "
      cd ~/hiteen-chart &&
      helm upgrade hiteen ./hiteen-chart -n hiteen --set was.image=$IMAGE_TAG
      "
  only:
    - main
