version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: hiteen-postgres
    restart: always
    environment:
      POSTGRES_DB: hiteen
      POSTGRES_USER: hiteen
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - hiteen-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin1234
    ports:
      - "5050:80"
    networks:
      - hiteen-net

networks:
  hiteen-net:

volumes:
  postgres_data:
