services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: hiteen
      MONGO_INITDB_ROOT_PASSWORD: hiteen1234

  postgresql:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "hiteen"
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: "hiteen"

  soketi:
    image: quay.io/soketi/soketi:1.4-16-debian
    container_name: soketi
    ports:
      - "6001:6001"
    restart: unless-stopped
    environment:
      SOKETI_DEBUG: "false"
      SOKETI_DEFAULT_APP_ID: "app-id"
      SOKETI_DEFAULT_APP_KEY: "app-key"
      SOKETI_DEFAULT_APP_SECRET: "app-secret"