# ============================================
# Beta Environment Override
# ============================================
namespace: hiteen

nodeSelector:
  node-type: private

imagePullSecrets:
  - name: gitlab-registry

app:
  name: hiteen-api
  replicaCount: 1  # 개발환경은 1개

  image:
    repository: gitlab.barunsoft.net:6005/jiasoft/hiteen2-server  # 6005로 수정
    tag: prod-0.0.1
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 8080

  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev-k8s

    - name: REDIS_HOST
      value: redis-0.redis.hiteen.svc.cluster.local
    - name: REDIS_PORT
      value: "6379"
    - name: REDIS_PASSWORD
      valueFrom:
        secretKeyRef:
          name: redis-secret
          key: redis-password

    - name: FIREBASE_CREDENTIAL_PATH
      value: /app/firebase/firebase-key.json

    - name: JAVA_TOOL_OPTIONS
      value: "-Xms512m -Xmx2048m -XX:+UseG1GC -XX:+ExitOnOutOfMemoryError"

  resources:
    requests:
      cpu: 50m       # 하향 조정
      memory: 512Mi  # 하향 조정
    limits:
      cpu: 1
      memory: 3Gi

  startupProbe:
    httpGet:
      path: /actuator/health
      port: 8080
    failureThreshold: 30
    periodSeconds: 5

  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 60
    timeoutSeconds: 3
    periodSeconds: 10
    failureThreshold: 3

  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 30
    timeoutSeconds: 3
    periodSeconds: 5
    failureThreshold: 3

  pdb:
    enabled: false

  hpa:
    enabled: false

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/client-max-body-size: "50m"
    nginx.ingress.kubernetes.io/websocket-services: "hiteen-api"
    # cert-manager.io/cluster-issuer: "letsencrypt-prod" # Rate Limit 문제로 주석 처리

    # 임시
    nginx.ingress.kubernetes.io/ssl-redirect: "false"        # HTTP 허용
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"  # SSL 강제 해제
    nginx.ingress.kubernetes.io/hsts: "false"               # HSTS 비활성화 (브라우저 강제 전환 방지)


  hosts:
    - host: beta-api.hiteen.kr
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: hiteen-api
            servicePort: 8080

    # 임시
#  tls:
#    - hosts:
#        - beta-api.hiteen.kr
#      secretName: hiteen-beta-tls
  # [] 로 설정해야 values.yaml의 설정을 완전히 덮어씁니다(제거합니다).
  tls: []

metrics:
  enabled: false  # 개발 서버에서는 모니터링 비활성화
  serviceMonitor:
    enabled: false  # Prometheus CRD 없음

