spring:
  application:
    name: hiteen
#  webflux:
#    static-path-pattern: /assets/**
#    resources:
#      static-locations: classpath:/assets/
  r2dbc:
    url: r2dbc:postgresql://127.0.0.1:5432/hiteen
    username: hiteen
    password: 1234
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
  data:
    mongodb:
      uri: mongodb://hiteen:1234@127.0.0.1:27017/hiteen?authSource=admin
    redis:
      host: 127.0.0.1
      port: 6379
      password: xxxxxxxx
      timeout: 5s
      client-type: lettuce
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 2
          time-between-eviction-runs: 60s
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  config:
    import: "classpath:mbti.yml"

server:
  port: 8080

jwt:
  secret: ac0da6c32199d5d4829ca62b05f2a353ab926e2855de718e28286ca64bc2f9df
  access-expiration: 864000000
  refresh-expiration: 1209600000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui

soketi:
  host: 127.0.0.1
  port: 6001
  app-id: hiteen-app
  app-key: hiteen-key
  app-secret: hiteen-secret

sms:
  callback: "1577-5993"
  api-key: 0rsw46blu616mp6geidaldsy9z6o0pgi
  api-url: https://apis.aligo.in/send/
  user-id: jiasoft
  kakao:
    sender-key: KAKAO_SENDER_KEY
    token-url: https://kakaoapi.aligo.in/akv10/token/create/30/s/
    alimtalk-url: https://kakaoapi.aligo.in/akv10/alimtalk/send/
    detail-url: https://kakaoapi.aligo.in/akv10/history/detail/

mqtt:
  broker:
    uri: tcp://192.168.49.2:30002
  topic: $share/group1/location/#
  client:
    id: tbmq_spring
  username: tbmq_spring
  password: tbmq_spring
  cleanStart: false
  automaticReconnect: true
  sessionExpiryInterval: 604800
  keepAliveInterval: 60
  qos: 1

tbmq:
  url: http://192.168.49.2:30001
  admin:
    username: sysadmin@thingsboard.org
    password: sysadmin
  mqtt:
    host: 192.168.49.2
    port: 30002
    tls: false

app:
  asset:
    storage-root: ${HOME}/assets
    static-locations: classpath:/assets/
    allowed-exts: jpg,jpeg,png,gif,webp,bmp,svg,mp4,mov,avi,mkv,pdf,txt,csv,zip,rar,gz
    max-size-bytes: 5242880 # 50MB

# ========================
# 경험치 액션 정의
# ========================
exp:
  actions:
    PIN_REGISTER:
      description: "핀 등록"
      points: 3


    FRIEND_ADD:
      description: "친구 추가"
      points: 30

    FRIEND_PROFILE_VISIT:
      description: "친구 프로필 방문"
      points: 3
      dailyLimit: 1


    CHAT:
      description: "채팅"
      points: 5

    CHAT_QUICK_EMOJI:
      description: "채팅 퀵 이모지 보내기"
      points: 3
      dailyLimit: 5


    CREATE_BOARD:
      description: "게시글 작성"
      points: 10

    CREATE_BOARD_COMMENT:
      description: "게시글 댓글/대댓글 작성"
      points: 5

    LIKE_BOARD:
      description: "게시글 좋아요"
      points: 3
      dailyLimit: 5

    LIKE_BOARD_COMMENT:
      description: "게시글 댓글 좋아요"
      points: 3
      dailyLimit: 5


    CREATE_VOTE:
      description: "투표 등록"
      points: 10

    VOTE_PARTICIPATE:
      description: "투표 참여"
      points: 5

    CREATE_VOTE_COMMENT:
      description: "투표 댓글/대댓글 작성"
      points: 5

    LIKE_VOTE:
      description: "투표 좋아요"
      points: 3
      dailyLimit: 5

    LIKE_VOTE_COMMENT:
      description: "투표 댓글 좋아요"
      points: 3
      dailyLimit: 5


    INTEREST_TAG_REGISTER:
      description: "관심태그 등록"
      points: 20

    TODAY_FRIEND_CHECK:
      description: "오늘의 친구 확인"
      points: 5
      dailyLimit: 1


    FOLLOW_REQUEST:
      description: "팔로우 요청"
      points: 15

    FOLLOW_ACCEPT:
      description: "친구(팔로우) 수락"
      points: 15


    SHARE:
      description: "공유하기"
      points: 5
      dailyLimit: 3

    GAME_PLAY:
      description: "게임 플레이"
      points: 10

    WATCH_AD:
      description: "게임 광고 보기"
      points: 3
      dailyLimit: 5

    ENGLISH_STUDY:
      description: "영어 단어 학습"
      points: 10

    ENGLISH_CHALLENGE:
      description: "영단어 챌린지 도전"
      points: 5

    POINT_CHARGE:
      description: "포인트 충전"
      points: 10

#    NEW_PICK_ITEM:
#      description: "새로운 픽넴 획득"
#      points: 5

    LEVEL_UP:
      description: "레벨업"
      points: 10

    NOTICE_READ:
      description: "공지/이벤트 확인"
      points: 3

    ATTENDANCE:
      description: "출석 체크"
      points: 3
      dailyLimit: 1

    FRIEND_INVITE:
      description: "친구 초대"
      points: 30

    STREAK_ATTENDANCE:
      description: "연속 출석"
      points: 20

    SESSION_REWARD:
      points: 0
      description: "일일 접속 시간 보상"



    REPORT_CONTENT:
      description: "부적절 컨텐츠 신고받음"
      points: -10


logging:
  level:
    io.r2dbc.postgresql.QUERY: DEBUG
    io.r2dbc.postgresql.PARAM: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
    org.springframework.data.mongodb.core.ReactiveMongoTemplate: DEBUG
    org.mongodb.driver.protocol.command: DEBUG
    org.mongodb.driver.protocol.query: DEBUG
    org.mongodb.driver.connection: DEBUG
    # org.springframework.security: DEBUG
