apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hiteen-api.fullname" . }}
  labels:
    app: {{ include "hiteen-api.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "hiteen-api.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "hiteen-api.name" . }}
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: hiteen-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
            - name: SPRING_PROFILES_ACTIVE
              value: "{{ .Values.env.PROFILE }}"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
