apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "hiteen-api.fullname" . }}-pvc
  labels:
    app: {{ include "hiteen-api.name" . }}
spec:
  accessModes:
    {{- toYaml .Values.persistence.accessModes | nindent 4 }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
