apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.app.service.port }}
          env: {{- toYaml .Values.app.env | nindent 12 }}
          volumeMounts:
            - name: firebase-credentials
              mountPath: /app/firebase/firebase-key.json
              subPath: firebase-key.json
            - name: nfs-assets
              mountPath: /app/assets
          resources:
            {{- toYaml .Values.app.resources | nindent 12 }}
      volumes:
        - name: firebase-credentials
          secret:
            secretName: firebase-secret
        - name: nfs-assets
          persistentVolumeClaim:
            claimName: nfs-pv-images